*, html 
	scroll-snap-type: Y mandatory

body 
	width: $sectionwidth
	background: url("../#{$img-path}/bakgrunn.png") no-repeat center top
	background-size: cover
	font-family: $font
	z-index: 10

	+mobile
		background: url("../#{$img-path}/mobil-bakgrunn.png") no-repeat center top
		background-size: cover


// Sections

section 
	width: $sectionwidth
	height: $sectionheight
	display: grid
	place-items: center
	scroll-snap-align: center

	+mobile
		scroll-snap-align: none

.story-2
	+mobile
		background-color: $elementcolor2 

.story-4
	+mobile
		background-color: $elementcolor1 

	
// Divs

.intro-gap
	height: $sectionheight / 2
	width: $sectionwidth

.hand-gap, .mask-gap, .gap-fish, .gap-small, .gap-small-2
	height: $sectionheight
	width: $sectionwidth

.hand-gap
	+mobile
		height: $sectionheight / 2.5
		background: url("../#{$img-path}/thumbs.png") no-repeat center top
		background-attachment: fixed
		z-index: $front

.code-gap
	height: $sectionheight * 2.5
	width: $sectionwidth

	+mobile
		height: $sectionheight / 2.5
		background: url("../#{$img-path}/code-branch.png") no-repeat center top 
		background-attachment: fixed
		z-index: $front

.hate-gap
	height: 0

	+mobile
		height: $sectionheight / 2.5
		background: url("../#{$img-path}/hate.png") no-repeat center top
		background-attachment: fixed
		z-index: $front

.mask-gap
	+mobile
		height: $sectionheight / 2.5
		background-color: $elementcolor1
		background: url("../#{$img-path}/mask.png") no-repeat center top
		background-attachment: fixed
		z-index: $front

.gap-fish
	+mobile
		height: 0

.gap-small-2
	background-color: $background

.text
	+mobile
		height: 1vh

.intro-container
	position: relative
	bottom: - $bottom-move * 3
	right: $right-move / 1.2

	+mobile
		bottom: none
		right: $right-move / 40
		width: $mobile-width

.fish-container
	height: $sectionheight / 1.5
	width: $sectionwidth
	display: grid
	place-items: center

.link
	display: grid
	grid-template-columns: auto auto
	grid-column-gap: $padding
	width: $paragraph-width
	position: relative
	bottom: $bottom-move * 3.6
	right: - $right-move / 5
	z-index: $front

	+mobile
		bottom: $bottom-move * 3.3
		width: $paragraph-width / 2
		right: $right-move / 3.5

.rules-container
	display: grid
	gap: $padding * 2
	position: relative

	+mobile
		bottom: $bottom-move * 8
		width: $mobile-width

.footer-container
	display: grid
	grid-template-columns: auto
	place-content: center
	position: relative

	+mobile
		bottom: none

.icons
	display: grid
	place-content: center
	grid-template-columns: auto auto auto
	gap: $padding
	padding-bottom: $padding * 6

// Text

h1 
	font-size: $font-size * 3.5
	transform: translateX(0) rotate(-45deg)
	color: $elementcolor1
	position: relative 
	left: $right-move / 6

	+mobile
		font-size: $font-size * 2.5
		line-height: $line-height
		width: $mobile-width 
		left: none

h2 
	font-size: $font-size * 2.5
	color: $elementcolor2
	line-height: $line-height

	+mobile
		font-size: $font-size * 2

h3 
	font-size: $font-size * 2
	color: $elementcolor1

	+mobile
		font-size: $font-size * 1.5
		width: $mobile-width
		line-height: $line-height

p 
	font-size: $font-size * 2
	width: $paragraph-width
	line-height: $line-height
	color: $elementcolor1
	text-align: left
	position: relative

	+mobile
		font-size: $font-size * 1.5
		width: $paragraph-width * 2

a
	font-size: $font-size * 2.5
	text-decoration: none
	color: $background
	position: relative
	z-index: $front

	+mobile
		font-size: $font-size * 1.2

.story-text-1, .story-text-3
	right: $right-move
	bottom: $bottom-move / 2 

	+mobile
		bottom: none
		right: $right-move / 4

.story-text-2, .story-text-4
	color: $background
	right: - $right-move
	bottom: $bottom-move / 2

	+mobile
		bottom: none
		right: $right-move / 4


.story-text-5
	text-align: center
	bottom: $bottom-move * 2
	width: $paragraph-width * 2
	
	+mobile
		bottom: - $bottom-move

.rethinking
	color: $elementcolor1
	cursor: pointer

.hashtag
	bottom: $bottom-move * 3.2
	right: $right-move / 10
	font-size: $font-size * 2

	+mobile
		bottom: $bottom-move * 3.3
		font-size: $font-size
	
.so-me
	color: $elementcolor1
	font-size: $font-size * 2

	+mobile
		font-size: $font-size * 1.5

.footer-text, .emails
	text-align: center
	font-size: $font-size * 1.5
	padding-bottom: $padding
	width: $paragraph-width * 2

	+mobile
		font-size: $font-size 

span 
	color: $elementcolor2

.letter
	color: $elementcolor1

.letter-dark
	color: $background

// Icons

.red
	z-index: $back
	width: $paragraph-width * 1.5
	transition: 0.2s all
	position: relative

	+mobile
		width: $paragraph-width * 2.5
		bottom: none

.red:hover
	transform: scale(1.1)

.blue
	z-index: $back
	width: $paragraph-width
	transition: 0.2s all
	position: relative

	+mobile
		bottom: none
		width: $paragraph-width * 2

.blue:hover
	transform: scale(1.1)

.arrow
	width: $icon-size 

	+mobile
		width: $icon-size / 2

.instagram
	width: $icon-size * 1.5
	transition: 0.2s all
	cursor: pointer

	+mobile
		width: $icon-size  * 1

.instagram:hover
	transform: scale(1.1)

.facebook
	width: $icon-size * 1.5
	transition: 0.2s all
	cursor: pointer

	+mobile
		width: $icon-size 

.facebook:hover
	transform: scale(1.1)

// Media
	
.video
	border-radius: $border-radius
	position: relative

	+mobile
		bottom: $bottom-move * 5
		width: $sectionwidth / 1.1
		height: $paragraph-width * 2