html
	scroll-snap-type: Y mandatory
	
body	
	max-width: $sectionwidth	
	background: url("../#{$img-path}/bakgrunn.png") no-repeat top center
	background-color: #17171e
	background-size: cover
	overflow-x: hidden
	font-family: $font
	z-index: 10
	+mobile
		margin-top: 30px
		background: url("../#{$img-path}/bakgrunn-mobil.png") no-repeat top center



	+mobile
		background: url("../#{$img-path}/bakgrunn-mobil.png") no-repeat top center

header
	max-width: $sectionwidth
	height: $sectionheight
	display: grid
	place-items: center
	scroll-snap-align: center



header h1 
	transform: translateX(0) rotate(-45deg)
	text-align: center
	margin-left: 90px

// Seksjoner

section
	width: $sectionwidth
	height: $sectionheight
	display: flex
	padding: $site-margin
	scroll-snap-align: center
	overflow-x: hidden
	+mobile 
		padding: $mobile-padding
		scroll-snap-align: none


.sec1 
	text-align: left
	place-content: center left
	
.sec2
	.section-set1
		max-width: 60%
		+mobile
			max-width: 100%

.sec3 
	color: $elementcolor1
	text-align: right
	+mobile 
		padding-bottom: 40px
	.section-set2
		margin-left: 40%
		color: $background
		+mobile
			margin-left: 0%
		.letter2
			+mobile
				color: white

.section-set3
	+mobile
		color: $background

.section-set4
	color: $background
	+mobile


.section-set5
	text-align: center
	width: 100%
	color: $elementcolor1

.sec7 
	justify-content: end
	color: $background

.sec10 
	.title-rethinking-movement
		text-align: center
	
.sec12
	color: $elementcolor1
	place-items: center
	// grid-template-columns: auto
	text-align: left
	.pretty
		white-space: normal
		.state label:before
			top: 0
		.state label
			text-indent: 2em
			line-height: 1.25

.sec12 p
	// width: 80vw


.centered-alignment
	align-self: center


.bottom-alignment
	// display: flex
	align-self: flex-end
	text-align: end

// Div-er

.rules 
	display: grid
	grid-template-columns: auto	auto 
	gap: $padding * 2
	grid-template: none
	+mobile
	overflow: hidden
	

// Tekst

h1
	color: $elementcolor1
	font-size: $font-size * 3.5
	position: relative

h2 
	color: $elementcolor2
	font-size: $font-size * 2.5
	padding-bottom: $line-height * 2

p 
	font-size: $font-size * 2
	color: $elementcolor1
	line-height: $line-height
	width: $paragraph-width

a
	font-size: $font-size * 3
	color: $elementcolor1
	text-decoration: none
	width: 40vw
	position: relative
	left: 31vw
	top: 50vh
	z-index: 100
	line-height: $line-height

.title2 
	color: $elementcolor1

.godfisk
	position: relative
	left: 46vw
	bottom: 25vh
	z-index: 100
	+mobile
	left: 12vw

span
	color: $elementcolor2

.lesom
	color: $background 

.letter 
	color: $elementcolor1

.letter2
	color: $background 

.men
	color: $elementcolor2

// Sosiale medier-symboler

.instagram 
	//transition: 0.2s all
	cursor: pointer
	width: 30px

.facebook
	//transition: 0.2s all
	text-align: center
	cursor: pointer
	width: 15px

.instagram:hover, .facebook:hover
	transform: scale(1.2)
	
// Fisker

.fish-container 
	background-image: url("../img/red-fish.png")
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	height: 100%
	align-items: center
	transition: 0.2s all
	display: flex 
	flex-direction: column
	justify-content: center

	
.fish-container:hover
	transform: scale(1.1)
	
.red-fish
	width: 80vw
	margin: 0 auto
	position: relative

.blue-fish 
	width: 45vw
	position: relative
	left: 40vw
	z-index: 10
		+mobile
		width: 12vw


input[type="checkbox"]:checked
	outline: none
 	border: none
 	background-color: $elementcolor1
 	border-radius: 50%

.external-link-button 
	padding: 12px 20px
	background: $elementcolor1
	color: $background
	border-radius: 12px
	width: 100px
	margin-top: 1em 
	cursor: pointer


.video 
		margin: 0 auto

.footer
		width: 100%
		margin-top: 30px
		margin-bottom: 30px
		display: grid
		text-align: center
		align-items: center
		padding: 2rem
		align-items: flex-end
		font-size: $font-size

.pretty
	font-size: 18pt