$font: 'Josefin Sans'
$font-size: 1em
$font-size-1: $font-size * 1.35
$font-size-2: 0.7em
$paragraph-width: 30vw
$padding: 1em
$line-height: 1.2em


$background: #17171F
$elementcolor1: #39BCBB
$elementcolor2: #A82225
  

$sectionheight: 100vh
$sectionwidth: 100vw

$site-margin: 110px
$mobile-padding: 20px

$mobile: 418px
$tablet: 640px
$desktop: 1024px
$widescreen: 2000px

$img-path: "img"